.thumbnail img {
        height: 210px;
        width: 100%;
}

.course-card {
        box-shadow: 3px 3px 10px lightgray;
}

.course-card:hover {
        transform: scale(1.03);
        transition: transform 1s;
        border: 1px solid rgb(253, 153, 22);
        cursor: pointer;
}

.card-title {
        height: 80px;
}