.contact-section {
        padding-top: 5%;
        height: 750px;
        background-image: url('../images/contact-bg.png');
        background-position: center;
        background-size: cover;
        background-repeat: repeat-x;
}