.header {
        margin-top: 3%;
        height: 90vh;
        width: 100%;
        background-image: linear-gradient( rgb(221, 235, 194), rgb(142, 197, 64));
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-clip: fixed;
}

.head-title {
        color: rgb(143, 112, 27);
}

.slogan {
        color: rgb(136, 135, 132)
}