.header {
        padding-top: 10%;
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        animation: animate 12s ease-in infinite;
}

@keyframes animate {
        0%, 100% {
                background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.ibb.co/C7RJfL5/bg1.png');
        }
        40% {
                background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.ibb.co/gtrhZYk/bg2.png');
        }
        75% {
                background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.ibb.co/hDqyw3M/bg3.png');
        }
}

.head-title {
        color: rgb(248, 209, 103);
        font-size: 4rem;
}

.slogan {
        color: rgb(223, 235, 194);
        font-weight: 300;
}